.undecorator-background {
    -fx-background-color: linear-gradient(rgb(105, 105, 105), rgb(220, 220, 220) 50%, rgb(105, 105, 105));
    -fx-fill: linear-gradient(rgb(105, 105, 105), rgb(220, 220, 220) 50%, rgb(105, 105, 105));
    -fx-background-insets: 0px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, derive(rgb(0, 0, 0), -20%), 10, 0, 4, 4);
    -fx-padding: 10px;
}

.decoration-button-resize {
    -fx-translate-y: 3;
    -fx-translate-x: 3;
}
